<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feidian.sidebarTree.mapper.ExcuteMapper">

<!--    直接执行sql-->
    <update id="excute" parameterType="java.lang.String">
        ${sql}
    </update>

</mapper>