<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feidian.sidebarTree.mapper.PopulationMapper">
    
    <resultMap type="Population" id="PopulationResult">
        <result property="populationId"    column="population_id"    />
        <result property="populationName"    column="population_name"    />
        <result property="speciesId"    column="species_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="com.feidian.sidebarTree.domain.PopulationUse" id="PopulationUseResult">
        <result property="population_id"    column="population_id"    />
        <result property="population_name"    column="population_name"    />
        <result property="species_id"    column="species_id"    />
        <result property="species_name"    column="species_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>


    <!--1.4 查询群种所属物种-->
    <select id="selectSpeciesName" resultType="String">
        select S.species_name
        from species S
        where S.isdeleted != 1
    </select>

    <!--1.4 大查询 通过 所属物种 和 群体名称 查询-->
    <select id="selectPopulation" resultMap="PopulationUseResult">
        select *
        from population P
                 left join
             species S
             on S.species_id = P.species_id
        where (S.species_name = #{species_name} or #{species_name} = '' or #{species_name} is null)
          and (P.population_name like concat('%', #{population_name}, '%') or #{population_name} = '' or
               #{population_name} is null)
          and S.isdeleted != 1
          and P.isdeleted != 1
    </select>

    <!--1.4-->
    <select id="checkPopulationName" resultType="Integer">
        select count(*)
        from population
        where population_name = #{population_name}
    </select>

    <!-- 1.4 GetSpeciesIdBySpeciesName-->
    <select id="GetSpeciesIdBySpeciesName" resultType="Long">
        select species_id
        from species
        where species_name = #{species_name}
        and isdeleted != 1
    </select>

    <sql id="selectPopulationVo">
        select population_id, population_name, species_id, create_by, create_time, update_by, update_time, remark, isdeleted from population
    </sql>

    <select id="selectPopulationList" parameterType="Population" resultMap="PopulationResult">
        <include refid="selectPopulationVo"/>
        <where>
            <if test="populationName != null  and populationName != ''"> and population_name like concat('%', #{populationName}, '%')</if>
            <if test="speciesId != null "> and species_id = #{speciesId}</if>
            and isdeleted != 1
        </where>
    </select>

    <select id="selectPopulationListWithoutDeleted" parameterType="Population" resultMap="PopulationResult">
        <include refid="selectPopulationVo"/>
        <where>
            <if test="populationName != null  and populationName != ''"> and population_name like concat('%', #{populationName}, '%')</if>
            <if test="speciesId != null "> and species_id = #{speciesId}</if>
        </where>
    </select>

    <select id="selectPopulationByPopulationId" parameterType="Long" resultMap="PopulationResult">
        <include refid="selectPopulationVo"/>
        where population_id = #{populationId}
        and isdeleted != 1
    </select>

    <select id="selectPopulationByPopulationIdWithoutDeleted" parameterType="Long" resultMap="PopulationResult">
        <include refid="selectPopulationVo"/>
        where population_id = #{populationId}
    </select>

    <!--根据查询到的所有群体id 来查找群体-->
    <select id="selectPopulationByListId" resultMap="PopulationResult">
        select population_id,population_name from population where population_id in
        <foreach item="populationId" collection="list" open="(" separator="," close=")">
            #{populationId}
        </foreach>
    </select>

    <insert id="insertPopulation" parameterType="Population" useGeneratedKeys="true" keyProperty="populationId">
        insert into population
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="populationName != null and populationName != ''">population_name,</if>
            <if test="speciesId != null">species_id,</if>
            <if test="createBy != null and createBy != ''">create_by,create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="populationName != null and populationName != ''">#{populationName},</if>
            <if test="speciesId != null">#{speciesId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},NOW(),</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},NOW(),</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePopulation" parameterType="Population">
        update population
        <trim prefix="SET" suffixOverrides=",">
            <if test="populationName != null and populationName != ''">population_name = #{populationName},</if>
            <if test="speciesId != null">species_id = #{speciesId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},create_time = NOW(),</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},update_time = NOW(),</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where population_id = #{populationId}
    </update>

    <delete id="deletePopulationByPopulationId" parameterType="Long">
        update population set isdeleted = 1 where population_id = #{populationId}
    </delete>

    <delete id="deletePopulationByPopulationIds" parameterType="String">
        UPDATE population
        SET isdeleted = 1
        WHERE population_id IN
        <foreach item="populationId" collection="array" open="(" separator="," close=")">
            #{populationId}
        </foreach>
    </delete>
</mapper>